@media screen and (min-width: 576px) {
  .header-area {
    flex-direction: column;
    width: 100%;
  }
  .menu > ul {
    flex-direction: column;
  }

  .menu li {
    margin-top: 20px;
  }

  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .banner-area {
    background: none;
  }

  .banner-content {
    margin-top: 60px;
  }

  .gamer-area {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 30px;
    margin-top: 60px;
  }

  main {
    width: 100%;
    overflow: hidden;
  }

  .gamer-img img {
    width: 100%;
  }

  .gamer-content {
    text-align: center;
  }

  .product-text h4 {
    font-size: 30px;
  }

  .product-area {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0 30px;
  }

  .product-img img {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .play-area {
    flex-direction: column;
  }

  .play-text {
    text-align: center;
    margin-bottom: 60px;
  }

  .play-img {
    width: 85%;
  }

  .play-second-img {
    width: 50%;
  }

  .footer-list {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
}
