@media screen and (max-width: 576px) {
  .header-area {
    flex-direction: column;
    width: 100%;
  }

  .menu > ul {
    flex-direction: column;
    margin: 20px 0;
  }

  .menu li {
    font-size: 16px;
    margin: 15px 0;
  }

  .menu li a {
    padding: 15px 0;
  }

  /* BANNER  */

  .banner-area {
    background-image: none;
  }

  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-content {
    margin-top: 40px;
  }

  .container-wd {
    width: 100%;
  }

  .product-text {
    width: 100%;
    text-align: center;
  }

  .product-box {
    padding: 0 40px;
  }

  .product-img {
    width: 100%;
    margin: 0 auto;
  }

  .product-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-img::before {
    width: 80%;
  }

  .play-text {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .play-img {
    padding: 0 15px;
  }

  .bran-area {
    width: 100%;
  }

  .brand-box {
    flex-direction: column;
  }

  .footer-list {
    padding: 10px;
    flex-wrap: wrap;
  }

  .footer-bottom-list {
    flex-wrap: wrap;
    padding: o 35px;
  }

  .footer-bottom-list li {
    padding: 20px 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 996px) {
  .header-area {
    flex-direction: column;
    width: 100%;
  }
  .menu {
    margin-top: 30px;
  }

  .banner-container {
    width: 100%;
    flex-direction: column;
  }

  .banner-content {
    padding: 60px 0;
  }

  .container-wd {
    width: 100%;
  }

  .product-img img {
    width: 100%;
    padding: 0 10%;
  }

  .product-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-text {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .play-img {
    width: 65%;
    margin: 0 auto;
  }

  .footer-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 996px) and (max-width: 1300px) {
  .header-area,
  .banner-container {
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
  }

  .banner-content {
    width: 50%;
  }

  .container-wd {
    width: 100%;
  }

  .product-area {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }

  .product-box {
    padding: 0 15%;
  }
}
