@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 45px;
  color: #0b0223;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
}

.none {
  display: none;
}

.btn {
  padding: 20px 40px;
  border-radius: 50px;
  background: #ff42a5;
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 15px;
}

.btn-primary {
  background: #4ec5f7;
}

main {
  width: 1440px;
  margin: 0 auto;
}

/* HEADER-AREA */
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 35px 0;
}

.header-logo {
  display: flex;
}

.header-logo img {
  margin-right: 20px;
  width: 100%;
}

.header-logo span {
  color: #ff42a5;
}

.menu > ul {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  margin-left: 30px;
}

.menu li a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.icon {
  margin-left: 15px;
  font-size: 22px;
}

.header-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 25px;
}

/* BANNER AREA  */

.banner-area {
  background-image: url("../images/banner-left.png");
  background-repeat: no-repeat;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
}

.banner-img img {
  width: 100%;
}

.banner-content span {
  text-transform: uppercase;
  font-size: 40px;
  color: #0b0223;
}

.button {
  margin-top: 55px;
}

.banner-content h2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  margin-bottom: 20px;
}

.gamer-content h4 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-bottom: 20px;
}

.banner-content li {
  font-size: 20px;
  color: #534c64;
  font-weight: 500;
  margin-bottom: 15px;
  list-style: none;
}

.gamer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.gamer-content {
  width: 50%;
  text-align: right;
}

.gamer-content .btn {
  margin-bottom: 30px;
}

.gamer-content h3 {
  color: #534c64;
  font-size: 32px;
  margin-top: 50px;
}

.play-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 180px 0;
}

.play-img img {
  width: 100%;
}

.play-img {
  width: 50%;
  position: relative;
}

.play-second-img {
  position: absolute;
  bottom: -20%;
  left: -26%;
}

.play-text {
  width: 500px;
  text-align: right;
}

.play-text,
.product-text span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.brand-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
}

.brand-img {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.brand-img:hover {
  border-radius: 100px;
  border: 1px solid #ff42a5;
}

.brand-img:hover .brand-text {
  color: #ff42a5;
}

.brand-text span {
  margin-left: 30px;
  font-weight: 700;
}

.footer-area {
  display: flex;
  justify-content: center;
  background: #0b0223;
  padding: 100px 0 80px 0;
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo h3 {
  color: #fff;
  margin-left: 20px;
}

.footer-logo span {
  color: #ff42a5;
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-list li {
  color: #fff;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  padding: 30px 20px;
}

.footer-bottom-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-bottom-list li,
.copyright-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}
